<li><a href="https://soundcloud.com/young-god-c">Soundcloud</a></li>
<li><a href="https://bsbd.bandcamp.com">BSBD</a></li>
<li><a href="https://twitter.com/0YoungGod0">Twitter</a></li>
<li>Fire</li>
<li>Other Stuff</li>
